apiVersion: configmanagement.gke.io/v1
kind: ConfigManagement
metadata:
  name: config-management
  namespace: config-management-system
spec:
  clusterName: acm-cis-demo
  sourceFormat: unstructured
  git: 
    secretType: ssh
    syncRepo: git@github.com:linde/acm-cis-demo.git
    syncBranch: main
    policyDir: config/root
  policyController:
    enabled: true
    templateLibraryInstalled: true
