apiVersion: v1
kind: Service
metadata:
  namespace: wp
  name: wordpress
  labels:
    app: wordpress
spec:
  ports:
    # CIS FIX: cant use 80 anymore as unpriv user
    - port: 8080
  selector:
    app: wordpress
---
apiVersion: v1 
kind: Pod
metadata:
  namespace: wp
  name: wp-fixed-fully
  labels:
    app: wordpress
  annotations:
    ## CIS FIX: addresses apparmor security profile
    container.apparmor.security.beta.kubernetes.io/wordpress: runtime/default
    ## CIS FIX: addresses seccomp profile
    container.seccomp.security.alpha.kubernetes.io/wordpress: runtime/default
spec:
  containers:
    - image: wordpress
      name: wordpress
      securityContext:
        # CIS FIX: was true, addresses securityContext
        privileged: false
        # CIS FIX: was true, addresses priviledge escalation
        allowPrivilegeEscalation: false
        # CIS FIX: addresses absense of runAsUser, should use something in org
        runAsUser: 100
        # CIS FIX: allow only read-only root file system access
        readOnlyRootFilesystem: true
      ports:
        # CIS FIX: cant use 80 anymore as unpriv user have to update apache.conf!
        - containerPort: 8080
          name: wordpress
      volumeMounts:
        - mountPath: "/tmp/"
          name: tmp-volume
        - mountPath: "/var/run"
          name: var-run-volume
        - mountPath: "/etc/apache2/ports.conf"
          name: etc-apache2-volume
          subPath: "ports.conf"
          readOnly: true
        - mountPath: "/etc/apache2/000-default.conf"
          name: etc-apache2-volume
          subPath: "000-default.conf"
          readOnly: true
  volumes:
    - name: etc-apache2-volume
      configMap:
        name: etc-apache2
    - name: tmp-volume
      emptyDir: {}
    - name: var-run-volume
      emptyDir: {}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: etc-apache2
  namespace: wp
data:
  ports.conf: |
    # If you just change the port or add more ports here, you will likely also
    # have to change the VirtualHost statement in
    # /etc/apache2/sites-enabled/000-default.conf

    # Listen 80
    Listen 8080

    <IfModule ssl_module>
       Listen 443
    </IfModule>

    <IfModule mod_gnutls.c>
       Listen 443
    </IfModule>
  000-default.conf: |
    # <VirtualHost *:80>
    <VirtualHost *:8080>
       # The ServerName directive sets the request scheme, hostname and port that
       # the server uses to identify itself. This is used when creating
       # redirection URLs. In the context of virtual hosts, the ServerName
       # specifies what hostname must appear in the request's Host: header to
       # match this virtual host. For the default virtual host (this file) this
       # value is not decisive as it is used as a last resort host regardless.
       # However, you must set it for any further virtual host explicitly.
       #ServerName www.example.com

       ServerAdmin webmaster@localhost
       DocumentRoot /var/www/html

       # Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
       # error, crit, alert, emerg.
       # It is also possible to configure the loglevel for particular
       # modules, e.g.
       #LogLevel info ssl:warn

       ErrorLog ${APACHE_LOG_DIR}/error.log
       CustomLog ${APACHE_LOG_DIR}/access.log combined

       # For most configuration files from conf-available/, which are
       # enabled or disabled at a global level, it is possible to
       # include a line for only one particular virtual host. For example the
       # following line enables the CGI configuration for this host only
       # after it has been globally disabled with "a2disconf".
       #Include conf-available/serve-cgi-bin.conf
    </VirtualHost>
---
